<div class="row">
    <div class="col-xs-4 col-md-2" ng-init="banana = 'img/banana.jpg'">
        <a href="#" class="thumbnail" style=" width: 150px;height: 150px;overflow: auto;">
            <img ng-src="{{banana}}" alt="Банан">
        </a>
    </div>
    <p>
        <strong>Название: </strong><span>Банан</span>
    </p>
    <p>
        <strong>Ингридиенты: </strong><span>Банан</span>
    </p>
    <p>
        <strong>Описание: </strong><span>Банан, фрукт</span>
    </p>
</div>

<div class="row">
    <div class="col-xs-4 col-md-2" ng-init="orange = 'img/orange.jpg'">
        <a href="#" class="thumbnail" style=" width: 150px;height: 150px;overflow: auto;">
            <img ng-src="{{orange}}" alt="Апельсин">
        </a>
    </div>
    <p>
        <strong>Название: </strong><span>Апельсин</span>
    </p>
    <p>
        <strong>Ингридиенты: </strong><span>Апельсин</span>
    </p>
    <p>
        <strong>Описание: </strong><span>Апельсин, фрукт</span>
    </p>
</div>