<div class="container">
    <form class="form-horizontal" name="mainForm">
        <div class="form-group">
            <label class="col-md-1 control-label" for="name">Имя</label>
            <div class="col-md-3">
                <input required name="height" ng-model="user.name" type="text" min="130" max="220" class="form-control" id="name" placeholder="Name">
            </div>
        </div>
        <!--<div role="alert">-->
            <!--<span class="error" ng-show="mainForm.height.$error.required">-->
              <!--Required!</span>-->
            <!--<span class="error" ng-show="mainForm.input.$error.number">-->
              <!--Not valid number!</span>-->
        <!--</div>-->
        <div class="form-group">
            <label class="col-md-1 control-label" for="surname">Фамилия</label>
            <div class="col-md-3">
                <input ng-model="user.surname" type="text" class="form-control" id="surname" placeholder="Surname">
            </div>
        </div>
        <!--<div class="form-group">-->
        <!--<label for="exampleInputFile">File input</label>-->
        <!--<input type="file" id="exampleInputFile">-->
        <!--<p class="help-block">Example block-level help text here.</p>-->
        <!--</div>-->
        <!--<div class="checkbox">-->
        <!--<label>-->
        <!--<input type="checkbox"> Check me out-->
        <!--</label>-->
        <!--</div>-->
        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-1">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </div>
    </form>
</div>